{% extends 'base.html' %}
{% block  content%}

    <div class="container">
      <h1>{{title}}</h1>
      {% include 'products/snippets/search-bar.html' %}
      <p>{{subtitle}}</p>

      <div class="row">
        {% include 'products/snippets/list-of-products.html' %}
      </div>

      {% comment %} <ul class="list-group">
        {% for product in object_list %} {% endcomment %}
        {% comment %} {% for product in object_list %} #object no devuelve todo lo que tiene product {% endcomment %}
        {% comment %} {% for product in products %} {% endcomment %}
        {% comment %} <li class="list-group-item">
          {{product}}
          <span>${{product.price}}</span> {% endcomment %}
          {% comment %} <p>
            {% if product.stock%}
            <span class="text-success">con stock</span>
            {% else %}
            <span class="text-danger">sin stock</span>
            {% endif %}
          </p> {% endcomment %}
        {% comment %} </li>
        {% endfor %}
      </ul> {% endcomment %}
      {% comment %} <img src="{% static 'imagenes/COCACOLA1.png' %}" /> {% endcomment %}
    </div>
{% endblock  %}

